<!DOCTYPE html>
<html>
  <head>
    <title>Pet Adoption Center</title>
  </head>
  <body>
    <h1>Dog for adoption</h1>
    <div>Puppy Name: <%="#{@name}"%></div>
    <div>Puppy Breed: <%="#{@breed}"%></div>
    <div>Puppy Age: <%="#{@age} months old"%></div>
  </body>
</html>